{
  "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["dist"],
  "rules": {
    "import/prefer-default-export": ["off"]
  }
}
